POSTGRES_USER=postgres
POSTGRES_PW=password
POSTGRES_DB=tradecoins
POSTGRES_HOST=tradecoins
APP_PORT=8081
APP_BASE_URL="https://trade.devidcorsard.pp.ua"
APP_HMAC_SECRET="very_long_and_secret_string_asdkjfhalksdfhalksdhfalkshdfljasdhfasdhfgjshgfdasjdfajhsgdfasdf"
REDIS_HOST=redis_tradecoins
REDIS_URI="redis://${REDIS_HOST}:6379"

# for sqlx:
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PW}@${POSTGRES_HOST}:5432/${POSTGRES_DB}
